/build/
/nbproject/private/
/dist/
/distribute/VisiCut*.zip
/distribute/*.deb
/distribute/*.exe
/distribute/*.pkg.tar.xz
/distribute/linux/*.pkg.tar.xz
/distribute/linux/pkg
/distribute/linux/src
/distribute/linux/PKGBUILD-tmp
/distribute/visicut/
/distribute/VisiCut.app/
/settings/
/*-pak
# Temporary files:
*~

# Maven stuff:
/lib/nbproject/private/
/lib/build/

#idea
/.idea/

# OS X noise
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes